/* #region TOP */
:root {
  --fontSans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  --fontMono: "Courier New", Courier, monospace;

  --bkg-body: white;
  --bkg-nav: #ebecec;
  --bkg-graphs: #f8f9f9;
  --bdr-graphs: #e8eaee;
  --bdr-prevnext: #d7d7d7;
  --link: #6576ff;
  --red: #c32426;
  --tc-body: #4a4949;
  --gray: #999999;
  --nav-width: 250px;
}
body {
  margin: 0px;
  box-sizing: border-box;
  background-color: var(--bkg-body);
  font-family: var(--fontSans);
  font-size: 16px;
  color: var(--typeBody);
  height: 100%;
}
html {
  /* -webkit-font-smoothing: antialiased; */
}
/* #endregion */

/* #region NAV  */
nav {
  height: 100%;
  width: var(--nav-width);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--bkg-nav);
  overflow-x: hidden;
}
nav .logo {
  /* width: 100%; */
  height: 70px;
  background: url("/writeup/perm/fs-logo.svg") no-repeat center center #f1f2f2;
  margin-bottom: 24px;
}
nav a {
  padding: 8px 8px 8px 12px;
  text-decoration: none;
  font-size: 115%;
  color: #364a63;
  font-weight: 600;
  display: block;
  letter-spacing: 0.01em;
}
nav a:hover,
a.selected {
  color: var(--link);
}
nav a::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  vertical-align: top;
  color: var(--tc-nav);
}
nav a.selected::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("/writeup/perm/nav-arrow.svg") no-repeat center top;
  margin-right: 4px;
  vertical-align: middle;
  color: var(--link);
}
.nav-below {
  margin-top: 12px;
  padding-top: 16px;
  border-top: 1px solid var(--bdr-prevnext);
}
/* #endregion NAV */

/* #region MAIN */
main {
  margin-left: var(--nav-width);
  padding: 0px 24px;
}
article {
  max-width: 700px;
  margin: auto;
  margin-top: 0px;
  color: var(--tc-body);
}
article h1 {
  font-size: 150%;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 0.02em;
}
article p {
  font-weight: 400;
  font-size: 120%;
  letter-spacing: 0.02em;
  line-height: 1.6em;
  color: var(--tc-body);
}
article img {
  width: 100%;
  max-width: 700px;
  margin-top: 24px;
  border: 1px solid var(--bdr-graphs);
  border-radius: 10px;
  overflow: hidden;
}
article img.borderless {
  border-color: var(--bkg-body);
  border-radius: 0px;
}
article a {
  text-decoration: none;
  color: var(--link);
  font-weight: 500;
}
article a:hover {
  color: var(--red);
}
article .product {
  color: #975831;
  font-weight: 600;
}
article h3 {
  font-weight: 00;
  font-size: 120%;
}
article strong {
  font-weight: 600;
}
article ol {
  margin: 0px;
  padding: 0px;
  list-style-position: inside;
  font-size: 120%;
  margin-top: -12px;
  margin-left: 24px;
}
article ol li {
  margin-bottom: 12px;
  line-height: 1.5em;
}
article blockquote {
  margin: 0px;
  letter-spacing: 0.02em;
  line-height: 1.5em;
  margin-top: 12px;
  margin-bottom: 12px;
  border-left: 3px solid #1ac11b;
  padding: 2px 18px 6px 16px;
  border-radius: 0px 8px 12px 0px;
  background-color: #f4f4f4;
  background-color: var(--bkg-graphs);
}
article blockquote .bq-title {
  font-size: 120%;
  font-weight: 700;
}
article .lister {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
article .lister li {
  width: auto;
  font-size: 110%;
  line-height: 1.4;
}
article .point {
  background-color: #00a2e9;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  padding: 4px 10px;
}
/* #endregion */

/* #region IMG MARGINS */
article img + img {
  margin-top: 24px;
}
article ol + img {
  margin-top: 12px;
}
article p + img {
  margin-top: 12px;
}
article blockquote + img {
  margin-top: 0px;
}
article img + blockquote {
  margin-top: 24px;
}
article h3 + img {
  margin-top: 0px;
}
/* #endregion IMG MARGINS */

/* #region BTNS */
.btns {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 40px;
}

.btn {
  width: 210px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.btn a {
  padding: 6px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.btn.search a {
  background: url("/writeup/perm/btns-fastsearch.svg") no-repeat center center var(--link);
}
.btn.repo a {
  background: url("/writeup/perm/btns-github.svg") no-repeat center center var(--link);
}
.btn.resume a {
  background: url("/writeup/perm/btns-resume.svg") no-repeat center center var(--link);
}
.btn.email a {
  background: url("/writeup/perm/btns-email.svg") no-repeat center center var(--link);
}
.btn.linkedin a {
  background: url("/writeup/perm/btns-linkedin.svg") no-repeat center center var(--link);
}
.btn.twitter a {
  background: url("/writeup/perm/btns-twitter.svg") no-repeat center center var(--link);
}
.btn > div {
  font-size: 115%;
  text-align: center;
  line-height: 1.3;
  color: var(--gray);
}
.btn a:hover {
  cursor: pointer;
  background-color: #364a63;
}
/* #endregion BTNS */

/* #region PREV-NEXT */
.prevnext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid var(--bdr-prevnext);
  padding-top: 12px;
}
.prevnext a {
  text-decoration: none;
  font-weight: 400;
  font-size: 115%;
  color: var(--gray);
}
.prevnext a:first-child:before {
  display: inline-block;
  content: "";
  width: 44px;
  height: 44px;
  vertical-align: middle;
  margin-right: 2px;
  background: url("/writeup/perm/prev.svg") no-repeat center top 30%;
  transition: all 0.2s ease;
}
.prevnext a:first-child:not(.disabled):hover::before {
  background-image: url("/writeup/perm/prev2.svg");
}
.prevnext a:last-child::after {
  display: inline-block;
  content: "";
  width: 44px;
  height: 44px;
  vertical-align: middle;
  margin-left: 2px;
  background: url("/writeup/perm/next.svg") no-repeat center top 30%;
}
.prevnext a:last-child:not(.disabled):hover::after {
  background-image: url("/writeup/perm/next2.svg");
}
.prevnext .disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.prevnext.first {
  justify-content: flex-end;
}
.prevnext.first a::before {
  display: none;
}
.prevnext.last {
  justify-content: flex-start;
}
.prevnext.last a::after {
  display: none;
}
.prevnext a:hover {
  color: var(--gray);
}
/* #endregion PREV-NEXT */
